---
http_interactions:
- request:
    method: get
    uri: http://postcodes.io/postcodes/w138qn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"2fe-DZRpPeOaKWm1p2nfjkOdAI/bFEw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"W13 8QN","quality":1,"eastings":516852,"northings":180558,"country":"England","nhs_ha":"London","longitude":-0.317513,"latitude":51.511875,"european_electoral_region":"London","primary_care_trust":"Ealing","region":"London","lsoa":"Ealing
        019A","msoa":"Ealing 019","incode":"8QN","outcode":"W13","parliamentary_constituency":"Ealing
        Central and Acton","admin_district":"Ealing","parish":"Ealing, unparished
        area","admin_county":null,"admin_ward":"Ealing Broadway","ced":null,"ccg":"NHS
        Ealing","nuts":"Ealing","codes":{"admin_district":"E09000009","admin_county":"E99999999","admin_ward":"E05000173","parish":"E43000199","parliamentary_constituency":"E14000674","ccg":"E38000048","ccg_id":"07W","ced":"E99999999","nuts":"UKI73"}}}'
  recorded_at: Sun, 08 Nov 2020 23:05:17 GMT
- request:
    method: get
    uri: http://postcodes.io/postcodes/ne301dp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"329-6zaB2U6b+1P+0lRTgXjD4EcNoAM"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"NE30 1DP","quality":1,"eastings":435958,"northings":568671,"country":"England","nhs_ha":"North
        East","longitude":-1.439269,"latitude":55.011303,"european_electoral_region":"North
        East","primary_care_trust":"North Tyneside","region":"North East","lsoa":"North
        Tyneside 016C","msoa":"North Tyneside 016","incode":"1DP","outcode":"NE30","parliamentary_constituency":"Tynemouth","admin_district":"North
        Tyneside","parish":"North Tyneside, unparished area","admin_county":null,"admin_ward":"Tynemouth","ced":null,"ccg":"NHS
        North Tyneside","nuts":"Tyneside","codes":{"admin_district":"E08000022","admin_county":"E99999999","admin_ward":"E05001130","parish":"E43000176","parliamentary_constituency":"E14001006","ccg":"E38000127","ccg_id":"99C","ced":"E99999999","nuts":"UKC22"}}}'
  recorded_at: Sun, 08 Nov 2020 23:05:17 GMT
recorded_with: VCR 6.0.0
